@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Serif", serif;
  --font-rye: "Rye", serif;
}


body{
  background-color: #F3D3CE;
}

@keyframes drift {
  0% {
    transform: translateX(-300px);
    }
  100% {
    transform: translateX(100vw);
    }
}

.animate-drift-slow {
  animation: drift 45s linear infinite;
}

.animate-drift-medium {
  animation: drift 35s linear infinite;
}

.animate-drift-fast {
  animation: drift 25s linear infinite;
}